<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>

        <style>
            table {
                border-collapse: collapse;
            }
            thead {
                padding: 5px 10px;
                text-align: center;
                background-color: lightgray;
            }
            td {
                padding: 5px 10px;
                text-align: center;
            }
        </style>

    </head>
    <body>
        <img src="/static/images/google.png">
        <h1>Application Data</h1>
        <table border="1">
            <thead>
                <tr>
                    <td>날짜</td>
                    <td>KOR</td>
                    <td>MATH</td>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    
                    <td>2023-03-17 02:08:45</td>
                    
                    <td>100</td>
                    
                    <td>200</td>
                    
                </tr>
                
                <tr>
                    
                    <td>2023-03-17 02:12:59</td>
                    
                    <td>200</td>
                    
                    <td>300</td>
                    
                </tr>
                
            </tbody>
      </table>

    </body>
</html>
